<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="CairoSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="GdkSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="GioSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="GLibSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="GtkSharp" version="3.22.24.16" targetFramework="net47" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net45" />
  <package id="PangoSharp" version="3.22.24.16" targetFramework="net47" />
</packages>